{% extends "base.html" %}

{% block title %}
    <h1 class="mt-2">{{ artist.name }}</h1>
{% endblock %}

{% block content %}
    <h3 class="mt-3">Art</h3>
    {% if art %}
        <div id="art-carousel-container" class="rounded-3 mb-1 overflow-hidden">
            <div id="art-carousel" class="carousel slide">
                <div class="carousel-indicators carousel-control-custom">
                    {% for i in range(art|count) %}
                        {% if loop.first %}
                            <button type="button" data-bs-target="#art-carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
                        {% else %}
                            <button type="button" data-bs-target="#art-carousel" data-bs-slide-to="{{ i }}"></button>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="carousel-inner border-light-subtle ratio ratio-1x1">
                    {% for a in art %}
                        {% if loop.first %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                                <a href="{{ a.source }}" class="carousel-item-inner">
                                    {% if a.local %}
                                        <img src="{{ url_for('serve_upload', filename=a.link) }}">
                                    {% else %}
                                        <img src="{{ a.link }}">
                                    {% endif %}
                                </a>
                            </div>
                    {% endfor %}

                    <div id="carousel-shadow" class="w-100 h-100 position-absolute rounded-3"></div>
                </div>

                <button class="carousel-control-prev carousel-control-custom" type="button" data-bs-target="#art-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next carousel-control-custom" type="button" data-bs-target="#art-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <p class="text-center">Click on an image to go directly to the source.</p>
    {% else %}
        <p>The administrator has yet to provide any art from this artist to showcase.</p>
    {% endif %}

    {% if not current_user.is_anonymous %}
        <div class="container-fluid row p-2">
            <div class="col-8">
                <a class="btn btn-primary mb-2 me-2" href="#" data-bs-toggle="modal" data-bs-target="#art-upload-modal">Add Art</a>
                <a class="btn btn-primary mb-2" href="{{ url_for('artist.editart', name=artist.name) }}">Edit Art</a>
            </div>
            <div class="col-4"></div>
        </div>
    {% endif %}

    <h3 class="mt-3">Social Media Links</h3>
    <div class="table-responsive card rounded-3 p-0 mb-3">
        <table class="table table-striped table-bordered table-hover rounded-3 overflow-hidden p-0 m-0">
            {% for social_media, link in artist.social_media_links.items() %}
                <tr>
                    <th scope="row" style="width: 20%;">{{ social_media }}</th>
                    <td style="width: auto;"><a href="{{ link }}">{{ link }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h3>Searchable Name(s)</h3>
        <ul class="list-group">
            {% if artist.searchable_name %}
                {% set searchable_names = artist.searchable_name.split(',') %}
                {% for name in searchable_names %}
                    <li href="#" class="list-group-item list-group-item-action">{{ name }}</li>
                {% endfor %}
            {% else %}
                <li class="list-group-item list-group-item-dark"></li>
            {% endif %}
        </ul>

    {% if not current_user.is_anonymous %}
        <h3 class="mt-3">ID: {{ artist.id }}</h3>
        {% if artist.public %}
            <div class="alert alert-success mt-3">Public</div>
        {% else %}
            <div class="alert alert-danger mt-3">Private</div>
        {% endif %}

        <div class="container-fluid row p-2">
            <div class="col-8">
                <a class="btn btn-primary mb-2 me-2" href="{{ url_for('artist.edit', name=artist.name) }}">Edit artist</a>
                <a class="btn btn-danger mb-2" href="#" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete artist</a>
            </div>
            <div class="col-4"></div>
        </div>
    {% endif %}
{% endblock %}

{% block modal %}
    {% if not current_user.is_anonymous %}
        <div class="modal fade" id="delete-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="delete-modal-label" aria-hidden="true" title="{{ hide_delete_modal }}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="delete-modal-label">Delete artist?</h1>
                    </div>
                    <form action="" method="post" novalidate>
                        {{ delete_form.csrf_token }}
                        {{ delete_form.hidden_tag() }}
                        <div class="modal-body">
                            <div class="mb-2">
                                <p class="form-label">Type {{ artist.name }} to confirm:</p>
                                {{ delete_form.name(class="form-control", maxlength="64") }}
                                {% for error in delete_form.name.errors %}
                                    <div class="alert alert-danger mt-1">[{{ error }}]</div>
                                {% endfor %}
                            </div>
                            <div class="mb-2">
                                <p class="form-label">Check this box to confirm this action:</p>
                                {{ delete_form.double_check(class="form-check-input") }}
                                {% for error in delete_form.double_check.errors %}
                                    <div class="alert alert-danger mt-1">[{{ error }}]</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                            {{ delete_form.submit(class="btn btn-danger") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="art-upload-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="art-upload-modal-label" aria-hidden="true" title="{{ hide_art_upload_modal }}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="art-upload-modal-label">Upload Art for {{ artist.name }}</h1>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data" novalidate>
                        {{ art_upload_form.csrf_token }}
                        {{ art_upload_form.hidden_tag() }}
                        <div class="modal-body">
                            <div class="mb-2">
                                <p class="form-label">{{ art_upload_form.file.label }}</p>
                                {{ art_upload_form.file(class="form-control", type="file", accept="image/*", **{
                                    'data-bs-toggle':"tooltip", 
                                    'data-bs-title':"Upload a .jpg, .png, .gif, or .webp. This will override the link if you entered one.", 
                                    'data-bs-custom-class':"tooltip-custom"
                                }) }}
                                {% for error in art_upload_form.file.errors %}
                                    <div class="alert alert-danger mt-1">[{{ error }}]</div>
                                {% endfor %}
                            </div>
                            <div class="mb-2">
                                <p class="form-label">{{ art_upload_form.link.label }}</p>
                                {{ art_upload_form.link(class="form-control", maxlength="256", **{
                                    'data-bs-toggle':"tooltip", 
                                    'data-bs-title':"Provide a direct link to an image from somewhere on the internet.", 
                                    'data-bs-custom-class':"tooltip-custom"
                                }) }}
                                {% for error in art_upload_form.link.errors %}
                                    <div class="alert alert-danger mt-1">[{{ error }}]</div>
                                {% endfor %}
                            </div>
                            <div class="mb-2">
                                <p class="form-label">{{ art_upload_form.source.label }}</p>
                                {{ art_upload_form.source(class="form-control", maxlength="256", **{
                                    'data-bs-toggle':"tooltip", 
                                    'data-bs-title':"Provide a source for the image. (Twitter, Pixiv, etc.)", 
                                    'data-bs-custom-class':"tooltip-custom"
                                }) }}
                                {% for error in art_upload_form.source.errors %}
                                    <div class="alert alert-danger mt-1">[{{ error }}]</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                            {{ art_upload_form.art_upload_submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
