/* General styling */
* {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgba(173, 216, 230, 0.8) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(173, 216, 230, 0.8) 1px, transparent 1px);
}

.background-image {
    position: absolute;
    z-index: -1;
}

#main-container {
    min-height: 100%;
}

#content {
    backdrop-filter: blur(5px);
}

/* index.html styling */
#index-container {
    max-height: 80vh;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}

.outer-hoverlay:hover {
    box-shadow: inset 0 0 15px rgba(210, 255, 255, 0.75);
    cursor: pointer;
}

.dy-layout-table {
    border-radius: 5px;
}

.dt-input {
    margin: 5px;
}