* {
    font-family: "Liter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, rgba(173, 216, 230, 0.8) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(173, 216, 230, 0.8) 1px, transparent 1px);
}

.background-image {
    position: absolute;
    z-index: -1;
}