<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Liter&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='logo.webp') }}" width="36" height="36">
                <b>Artist Index</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        {% if not current_user.is_anonymous %}
                            <a class="nav-link" href="{{ url_for('add') }}">Add Artist</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                </ul>
                {% if current_user.is_anonymous %}
                    <a class="nav-link" href="{{ url_for('login') }}"><button type="button" class="btn btn-light btn-lg">Sign In</button></a>
                {% else %}
                    <a class="nav-link" href="{{ url_for('logout') }}"><button type="button" class="btn btn-light btn-lg">Sign Out</button></a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- BACKGROUND IMAGES -->

    <img src="{{ url_for('static', filename='cherry.gif') }}" class="background-image" style="top: 5%; right: -1%;">
    <img src="{{ url_for('static', filename='tapioca.gif') }}" class="background-image" style="bottom: 0%; left: -1%;">

    <!-- MAIN CONTENT -->

    <div class="container p-3 mt-3 mb-3 bg-white bg-opacity-75 border border-light-subtle rounded">
        {% block title %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} mt-1" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
    </script>
    
    <script>
        // These functions used in "add.html"
        function addLink() {
            const firstLink = document.querySelector('.link-field');
            const newLink = document.createElement('div');
            newLink.classList.add('link-field');
            newLink.innerHTML = firstLink.innerHTML;

            const newIndex = document.querySelectorAll('.link-field').length;

            const social_media = newLink.querySelector('#social_media_links-0-social_media');
            social_media.id = `social_media_links-${newIndex}-social_media`;
            social_media.name = social_media.id;
            social_media.value = '';

            const link = newLink.querySelector('#social_media_links-0-link');
            link.id = `social_media_links-${newIndex}-link`;
            link.name = link.id;
            link.value = '';

            const button = newLink.querySelector('.delete-link-button');
            button.classList.remove('d-none');

            document.getElementById('link-fields').appendChild(newLink);
            document.querySelector('.link-field:last-child input').focus();
            return false;
        }

        function removeLink(e) {
            e.parentElement.parentElement.parentElement.remove();
        }

        document.addEventListener('DOMContentLoaded', function() {
            const firstLink = document.querySelector('.link-field');
            const firstButton = firstLink.querySelector('.delete-link-button');

            firstButton.classList.add('d-none');
        }, false);

    </script>
</body>

</html>