{% extends "base.html" %}

{% block title %}
    <h1 class="mt-2">{{ title }}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid p-1 mb-2">
        <h3>Change Password</h3>
        <div class="container-fluid">
            <form action="" method="post" novalidate>
                {{ change_password_form.hidden_tag() }}
                <div class="row mt-2">
                    <div class="col-5">
                        <p>
                            {{ change_password_form.current_password.label(class="form-label fs-5") }}<br>
                            {{ change_password_form.current_password(class="form-control") }}
                            {% for error in change_password_form.current_password.errors %}
                                <div class="alert alert-danger mt-1">[{{ error }}]</div>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-5"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <p>
                            {{ change_password_form.new_password.label(class="form-label fs-5") }}<br>
                            {{ change_password_form.new_password(class="form-control", **{
                                'data-bs-toggle':"tooltip", 
                                'data-bs-html': "true",
                                'data-bs-title':"<p>The new password should be at least <u>8 characters</u> long.</p>", 
                                'data-bs-custom-class':"tooltip-custom"
                            }) }}
                            {% for error in change_password_form.new_password.errors %}
                                <div class="alert alert-danger mt-1">[{{ error }}]</div>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-5"></div>
                </div>
                
                <div class="row form-group">
                    <div class="col-5">
                        {{ change_password_form.change_password_submit(class="btn btn-primary mt-3") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="container-fluid p-1 mb-2">
        <h3>Fetch Profile Pictures</h3>
        <p>Fetch profile pictures for artists who have a Twitter profile in the database. This can be done <u>once every 24 hours</u> due to strict rate limits with the Twitter API.</p>
        <div class="container-fluid">
            <form action="" method="post" novalidate>
                {{ fetch_button_form.hidden_tag() }}
                <div class="row form-group">
                    <div class="col-5">
                        {{ fetch_button_form.fetch_button_submit(class="btn btn-primary mt-1") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}