{% extends "base.html" %}

{% block title %}
    <h1 class="mt-2">Artist Index</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if current_user.is_anonymous %}
            <p>Welcome to the Artist Index! Below is a list of artists that I follow on various socials.
                Click on a row to display the links to that artist.
            </p>
        {% else %} 
            <p>Welcome back, {{ current_user.username }}!</p>
        {% endif %}
    </div>
    <div class="container overflow-y-scroll rounded" id="index-container">
        <table class="table table-bordered border-light-subtle" id="the-index">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Searchable Name</th>
                    <th scope="col">Social Media Links</th>
                </tr>
            </thead>
            <tbody>
                {% for artist in artists %}
                    <tr>
                        <th scope="row" class="dt-control outer-hoverlay"><a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ artist.name }}</a></th>
                        <td>{{ artist.searchable_name }}</td>
                        <td>{{ json_dumps(artist.social_media_links) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}