{% extends "base.html" %}

{% block title %}
    <h1 class="mt-2">Sign In</h1>
    <hr>
{% endblock %}

{% block content %}
    
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row mt-2">
            <div class="col-5">
                <p>
                    {{ form.username.label(class="form-label fs-5") }}<br>
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger mt-1">[{{ error }}]</div>
                    {% endfor %}
                </p>
            </div>
            <div class="col-5"></div>
        </div>
        <div class="row mt-2">
            <div class="col-5">
                <p>
                    {{ form.password.label(class="form-label fs-5") }}<br>
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger mt-1">[{{ error }}]</div>
                    {% endfor %}
                </p>
            </div>
            <div class="col-5"></div>
        </div>
        
        <div class="row form-group">
            <div class="col-5">
                <div class="container-fluid mt-3 mb-2">
                    {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-label") }}
                </div>
                
                {{ form.submit(class="btn btn-success m2-3") }}
            </div>
        </div>
    </form>
{% endblock %}